@import 'https://fonts.googleapis.com/css?family=Lato:400.700';
html {
	font-size: 100%;
	background: #DADADA;
	color: #4b4b4b;
	font-family: Lato,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;	
}

body {
	display: block;
	max-width: 1440px;
	margin: auto;
	padding-left: 0;
	padding-right: 0;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.sticky-top-placeholder {
	background-color: transparent;
	/*display: inline-block;*/
	height: 90px;
	width: 100%;

	margin: auto;
	position: fixed;
    top: 0px;
    left: 0;
    z-index: 810;
    display: block;
}
.menu-container {
	width: 80%;
	max-width: 1440px;
	height: 90px;
	margin: auto;
	background-color: #3E5F5D;
	/*display: inline-block;*/
	/*position: relative;*/
}
.menu-item {
	float: left;
	height: 100%;
	position: relative;
	font-size: 14px;

}
.menu-list-wrapper {
	float: right;
}
.menu-tab {
	padding-left: 20px;
	padding-right: 20px;
	line-height: 80px;
	height: 80px;
	color: white;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	cursor: pointer;
}
.menu-selected {
	color: #3AFEEE;
	border-bottom: 5px solid #3AFEEE;
}
.menu-item-last {
	float: right;
	display: inline-block;
	padding-right: 10px;

}
.vertical-center {
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}
.menu-logo {
	width: 253px;
	height: 90px;
	margin-left: 20px;
	background-image: url("../images/logo.svg");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.menu-title {
	height: 100%;
	font-size: 36px;
	line-height: 90px;
	color: #ffffff;
	margin-left:20px;
}
.menu-select {
	width: 100px;
	line-height: 30px;
	font-size: 14px;
	text-align-last: center;
	background-color: transparent;
	/*padding:10px;*/
	color: white;
	float: right;

    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    /*-webkit-appearance:none;*/
}
.darken {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 800px) {
	.menu-logo {
		width: 100px;
		height: 90px;
		margin-left: 5px;
	}
	.menu-item {
		font-size: 13px;
	}
	.menu-select {
		font-size: 13px;
		width: 60px;
	}
}
@media screen and (max-width: 480px) {
	.menu-container {
		width: 100%;
	}
	.menu-logo {
		width: 70px;
		height: 90px;
		margin-left: 5px;
	}
	.menu-item {
		font-size: 10px;
	}
	.menu-tab {
		padding-left: 5px;
		padding-right: 5px;
		line-height: 80px;
		height: 80px;
		color: white;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		cursor: pointer;
	}
	.menu-title {
		display: none;
	}
	.menu-select {
		font-size: 10px;
		width: 60px;
	}
	.darken {
		background-color: rgba(0, 0, 0, 0.5);
	}
}
@media screen and (max-width: 300px) {
	.menu-linked-item {
		display: none;
	}

}
.section-with-image {
	width: 100%;
	min-height: 795px;
	background: url("../images/3.png");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	top:0;
	display: block;
	position: relative;
}
.child-vertical-middle {
	vertical-align: middle;
	position: relative;
}
.section-h2 {
	width: 100%;
	text-align: right;
	color: white;
}
.section-text {
	color: white;
	width: 100%;
	text-align: right;
	padding-right:50px;
	position: absolute;
	/*bottom:20px;*/
	right:0;
	top: 50%;
	transform:translateY(-50%);
	text-shadow: 1px 1px 1px black;
}
.section-text > h1 {
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: normal;
	text-align: right;
}
.section-text > p {
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: normal;
	text-align: right;
}
.section-title {
	width: 100%;
	text-align: center;
	font-size: 36px;
	line-height: normal;
	color: white;
	top: 54px;
	position: relative;
}
.second-section {
	width: 100%;
	background: #3AFEEE;
	padding-top: 44px;
	padding-bottom: 44px;
	text-align: center;
	line-height: normal;
	/*font-size: 17px;*/
}
.second-section-text {
	width: 90%;
	margin: auto;
}
.second-section-text-title {
	color:#4C9089;
}
.section-product {
	width: 100%;
	background: white;
	padding-top: 25px;
	padding-bottom: 50px;
	position: relative;
}
.section-product-title {
	text-align: center;
	font-size: 24px;
	color: #595959;
}
.product-brief-container {
	display: inline-block;
	width: 80%;
	margin: auto;
}
.column-2-3 {
	float: left;
	width: 66.666%;
}
.column-1-3 {
	float:left;
	width: 33.333%;
}
.column-2-3-img-container {
	padding-top: 7px;
}
@media screen and (max-width: 480px) {
	.section-with-image {
		min-height: 400px;
	}
	.section-product {
		padding-top: 0px;
	}
	.section-text {
		padding:0;
		text-align: center;
		top:60%;
	}
	.section-text > h1 {
		text-align: center;
	}
	.section-text > p {
		text-align: center;
	}
	.product-brief-container {
		width: 90%;
	}
	.column-2-3 {
		float: left;
		width: 100%;
	}
	.column-1-3 {
		float:left;
		width: 100%;
	}
	.second-section-text {
		width: 90%;
		margin: auto;
	}
	.section-title {
		top: 20px;
	}
	.column-2-3-img-container {
		padding-top: 0px;
	}
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.padding-left-small {
	padding-left: 20px;
}
.mobile-padding-top {
	padding-top: 0;
}
@media screen and (max-width: 480px) {
	.padding-left-small {
		padding-left: 0;
	}
	.mobile-padding-top {
		padding-top: 20px;
	}
}
.small-gray-title {
	font-size: 17px;
	color: #C4C4C4;
}
.text-20 {
	font-size: 20px;
	line-height: 28px;
}
.padding-large {
	padding: 40px;
}
.padding-small {
	padding: 20px;
}
.padding-top-small {
	padding-top: 20px;
}
.padding-top-med {
	padding-top: 40px;
}
.background-image {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	color: white;
}
.section-application {
	width: 100%;
	background-color: #3E5F5D;
	color: white;
	display: inline-block;
	padding-top: 43px;
	padding-bottom: 60px;
	position: relative;
}
.application-wrapper {
	width: 80%;
	display: inline-block;
	margin: auto;
}
@media screen and (max-width: 480px) {
	.application-wrapper {
		width:90%;
	}
	.padding-large {
		padding: 30px;
	}
}
.section-about {
	width: 100%;
	height: 756px;
	background:url(../images/34622773091_3c45e9fc96_o.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	position: relative;
}
@media screen and (max-width: 800px) {
	.section-about {
		background-position: 50% 50%;
		height: 500px;
	}
}
@media screen and (max-width: 480px) {
	.section-about {
		background-position: 20% 50%;
		height: 500px;
	}
}
.about-outter {
	width: 634px;
	padding: 16px;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	right: 88px;
	top: 50%;
	transform:translateY(-50%);
}
.about-inner {
	padding: 20px;
	background-color: white;
	color: #595959;
}
@media screen and (max-width: 780px) {
	.about-outter {
		width: 85%;
		right: 50%;
    	transform: translate(50%, -50%);
	}
}
.footer-container {
	/*width: 100%;*/
	background-color: black;
	padding-left: 100px;
	padding-top: 60px;
	padding-bottom:60px;
	color: white;
}
.footer-company-info-container {
	color: #6E6E6E;
}
.light-blue {
	color:#3AFEEE;
}
@media screen and (max-width: 480px) {
	.footer-container {
		padding-left:0;
		text-align: center;
	}
}
.img-leading {
	position: relative;
	display: inline-block;
}
.float-left {
	float: left;
}
.small-margin {
	margin: 5px;
}
.padding-img {
	padding-left: 40px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
#lang_option {
	/*position: */
}


.anchor-element {
	position: absolute;
	top: -90px;
	left:0;
}
.col-centered{
float: none;
margin: 0 auto;
}
.space-list > li {
	margin: 1em 0;
}
.xx-large {
	font-size: xx-large;
}
.br-on-mobile {
    display: none;
}

@media screen and (max-width: 480px) {
    .br-on-mobile {
        display: static;
    }
}